.board {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin: 0 auto;
  border: 3px solid brown;
}

.hud{
  display: flex;
  width: calc(40% + 6px);
  margin: 0 auto;
  background-color: black;
  color: white;

  .counter{
    padding: 4px;
    font-size: 23px;
  }
}

.space{
  height: 30px;
  width: 1px;
}

.act{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button{
    background-color: #CD853F; /* Azul */
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px; /* Meio redondo */
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
  }
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1; // Mantém as células quadradas
}

.black {
  background-color: black; // Um verde escuro
}

.white {
  background-color: white; // Um creme claro
}



.cell img {
  width: 100%;
  height: auto;
  pointer-events: none; // Evita que a imagem interfira no clique da célula
}

.attack-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%; /* Faz a div ser um círculo */
  position: absolute; /* Posicionamento absoluto dentro da célula */
  background-color: green;
}

.cell-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: yellow; /* Todas as células começam com o marcador amarelo */
  position: absolute; /* Posicionamento absoluto dentro da célula */
}

.analysis-indicator{
  width: 100%;
  height: 100%;
  animation: blink 1s ease-in-out;
}

@keyframes blink {
  0%, 100% {
    background-color: initial; /* Cor inicial e final */
    transition: background-color 0.5s ease; /* Suaviza a transição */
  }
  25%, 50% {
    background-color: rgb(0, 153, 255); /* Azul marinho visível no meio da animação */
    transition: background-color 0.5s ease;
  }
}




.green {
  background-color: green;
}

.red {
  background-color: red;
}



@media only screen and (max-width: 720px){
  .board{
    width: 80%;
  }
}
