
<div class="space"></div>

<div class="hud">
  <div class="counter">
    Iterações: {{interacoes}}
  </div>
</div>

<div class="board">
  <div class="row" *ngFor="let row of rows; let i = index">
    <div class="cell" *ngFor="let col of row; let j = index"
        [ngClass]="{
          'black': (i + j) % 2 === 1,
          'white': (i + j) % 2 === 0,
        }">
      <div [ngClass]="{'analysis-indicator': col.event === 'blink'}"></div>
      <img *ngIf="col.status === 'queen'" src="assets/queen.png" alt="Queen">
      <!-- Todos os marcadores iniciam como amarelos -->
      <!-- <div *ngIf="col.status === 'normal'" class="cell-indicator"></div> -->
      <!-- Marcadores verdes apenas para células atacadas por uma rainha -->
      <!-- <div *ngIf="col.status === 'attack'" class="attack-indicator"></div> -->
    </div>

  </div>
</div>

<div class="act"><button *ngIf="calculando === false" (click)="placeRandomQueen()">Colocar Dama Aleatória</button></div>

